.searchButton {
    background: linear-gradient(to right, #1cd8ba, #06abee);
    color: white !important;
    padding: 10px 24px !important;
    border: none;
    margin: 0 10px
  }

.input-group input{
    width: 400px;
    padding: 22px;
    border: none;
    background-color: white;
    
  }


  .normalBg{
      background-color:#FAFFFD;

  }
