.achivements-bg{
    background-color: #FAFFFD;
}

.achivementsText{
    margin-top:10%;
}


.achivementsHeader{
    font-family: 'Philosopher', sans-serif;
    font-weight: 900;
}

.achivementsParagraph{
    color:#464646;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;

}

.achivenmentsCard:hover{
   width: 300px;
   height:145px;
   padding: 5%;
   background: linear-gradient(to right, #1cd8ba, #06abee);
    color: white !important;  
    border-radius: 0 23px;
    border: none;

}

.achivenmentsCard:hover .happy{
    filter: brightness(900);

}


.achivenmentsCard{
    width: 300px;
   height:145px;
  padding: 5%;
  border: none;
  background-color: white;
  border-radius: 0 23px;


}

.happy1{
    filter: brightness(.5);
}

.achivenmentsCard:hover .happy1{
    filter: brightness(900);
}

.achivementShow{
    color:#464646;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
}

.achivenmentsCard:hover .achivementShow{
    color: white;
} 

.achivementNumber{
    font-family: 'Philosopher', sans-serif;
    font-weight: 900;
    color:#707070;

}

.achivenmentsCard:hover .achivementNumber{
    color: white;
}


@media only screen and (max-width: 767px){
    
   #achive{
       margin-left:20%

   }

   #achiveText{
      margin-top: 50%;

   }

   #achiveHead{
       text-align:center;

   }
   

}

