h1.header-heading {
    font-family: 'Philosopher', sans-serif;
    font-size: 89px;
    font-weight: 600;
    line-height: 0.85em;
}
p.section-description {
    color:#464646;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    width: 70%;
}
.header {
    background-image: url(../../images/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}