.feature-bg{
    background-image: url(../../images/bg2.png);
    background-size: auto;
    background-repeat: no-repeat;
    height: 500px;
}

.featureText{
    padding-top: 5%;
    font-family: 'Philosopher', sans-serif;
    font-weight: 800;
}

.featureParagraph{
    color:#464646;
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
}


@media only screen and (max-width: 767px){
    #featureImg{
    height: 100%;
 
    }

    #stay{
        text-align: center;
    }

    #buttonContact{
        margin-left: 35%;

    }

   

}